<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title> <%= title%> </title>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 1rem; background-color:#f5df99">
        <div class="container-fluid">
            <a class="navbar-brand" style="color:black">Hostel Management Admin</a>
            <a href="/" class="navbar-brand" style="color: black;">Home</a>
        </div>
      </nav>
      <div style="display: flex; justify-content: center; align-items: center; background-color: #f6fbf4; height: 100vh">
        <div class="container" style="width:100%; max-width: 500px;">
          <div class="row">
            <div>
              <div class="card" style="background-color: #FFE7C1">
                <div class="card-body">
                  <form id="adminLoginForm" method="POST" action="/auth/login" style="padding:2rem;">
                    <div class="form-group" style="padding:1rem">
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="form-group" style="padding:1rem">
                      <label for="password">Password:</label>
                      <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div style=" display: flex; justify-content: center; margin:1rem">
                    <input type="submit" value="Submit" class="btn btn-secondary btn-block">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- <script type='text/javascript' src="../public/admin-login.js"></script> -->
  </body>
</html>

<script>
    document.getElementById("adminLoginForm").addEventListener('submit', function(event){
    event.preventDefault();
    
    let username = document.getElementById("username").value;
    let password = document.getElementById("password").value;
    const formData = {
      username,
      password
    }
    console.log(formData);

    // Send a POST request to the server
    fetch('/auth/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then(async(res) => {
      if(!res.ok){
        const data = await res.json();
        alert(data.msg);
      }
      else{
        window.location.href = "/admin";
      }
    }) // assuming the server responds with JSON
    .catch(error => {
        console.error('Error:', error);
    });
  })
</script>






